@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Space+Mono:wght@700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    line-height: 25px;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Space Mono', monospace;
}

h1 {
    font-size: 56px;
    line-height: 56px;
    margin-top: 0px;
    margin-bottom: 40px;
    letter-spacing: -2.5px;
}

h2 {
    font-size: 48px;
    line-height: 48px;
    margin-top: 0px;
    margin-bottom: 27px;
    letter-spacing: -2.14px;
}

h3 {
    font-size: 40px;
    line-height: 48px;
}

h4 {
    font-size: 24px;
    line-height: 28px;
}

p {
    margin: 0;
}

.page-padding {
    padding: 0 2.5rem;
    margin: auto;
}

.container {
    margin: auto;
    padding: 0 24px;
    max-width: 1248px;
    width: 100%;
    position: relative;
    z-index: 1;
    
}

.nav-inner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;

}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-menu {
    display: flex;
    list-style-type: none;
}

.navlink {
    padding: 16px 16px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 12px;

}

.navlink a {
    color: #939CAA;
    text-decoration: none;
    font-family: 'Space Mono', monospace;
}

button {
    font-family: 'Space Mono', monospace;
    padding: 14px 48px;
    background-color: #FCB72B;
    border: 1px;
    border-color: #FCB72B;
    color: white;
    cursor: pointer;
    letter-spacing: 1.5px;
    font-size: 12px;
}

.hero-section {
    padding: 10vh 0;
    color: white;
    background-color: black;
    position: relative;
    
}

.content-width-medium {
    width: 100%;
    max-width: 506px;
}

.background-image {
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/home-hero-desktop.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
    max-height: 650px;
}

.hero-text {
    margin-top: 0px;
    margin-bottom: 40px;
}

.how-it-works-section {
    padding: 10vh 0;
}

.how-it-works-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;

}

.how-it-works-heading {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07px;
}

.grid-content img {
    margin-bottom: 30px;
}

.features-section {
    padding: 5vh 0;
}

.features-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;  
    align-items: center;
}

.features-grid-content p {
    margin-bottom: 40px;
}

.features-grid-content img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.cta-section {
    padding: 5vh 0;
    color: white;
    background-color:  #495567;
    position: relative;
}

.cta-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-heading-wrapper {
    max-width: 415px;
}

.cta-background-image {
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/about-hero-desktop.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
    max-height: 650px;
}    